@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.emy-toast {
  border-radius: 14px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  box-shadow: 0 14px 35px rgba(15, 42, 67, 0.18) !important;
}
